<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>101</integer>
		<key>name</key>
		<string>本科大四</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>102</integer>
		<key>name</key>
		<string>本科大三</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>103</integer>
		<key>name</key>
		<string>大专大三</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>104</integer>
		<key>name</key>
		<string>大专大二</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>105</integer>
		<key>name</key>
		<string>高三</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>106</integer>
		<key>name</key>
		<string>高二</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>107</integer>
		<key>name</key>
		<string>高一</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>108</integer>
		<key>name</key>
		<string>初三</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>109</integer>
		<key>name</key>
		<string>初二</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>110</integer>
		<key>name</key>
		<string>初一</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>111</integer>
		<key>name</key>
		<string>硕士毕业已工作</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>112</integer>
		<key>name</key>
		<string>硕士在读</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>113</integer>
		<key>name</key>
		<string>本科毕业已工作</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>114</integer>
		<key>name</key>
		<string>本科大二</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>115</integer>
		<key>name</key>
		<string>本科大一</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>116</integer>
		<key>name</key>
		<string>大专毕业三年及以上</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>117</integer>
		<key>name</key>
		<string>大专大一</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>118</integer>
		<key>name</key>
		<string>高三毕业已工作</string>
	</dict>
</array>
</plist>
