<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>经济与金融</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>会计与金融</string>
				<key>id</key>
				<integer>37</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>货币银行与金融</string>
				<key>id</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>经济学</string>
				<key>id</key>
				<integer>39</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>金融学</string>
				<key>id</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>金融与投资</string>
				<key>id</key>
				<integer>41</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>金融经济学</string>
				<key>id</key>
				<integer>42</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>风险管理</string>
				<key>id</key>
				<integer>43</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>金融数学</string>
				<key>id</key>
				<integer>44</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>会计学</string>
				<key>id</key>
				<integer>45</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>商科</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>酒店旅游管理</string>
				<key>id</key>
				<integer>57</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>管理学</string>
				<key>id</key>
				<integer>58</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>艺术管理</string>
				<key>id</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>国际商务</string>
				<key>id</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>商务研究</string>
				<key>id</key>
				<integer>61</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>人力资源管理</string>
				<key>id</key>
				<integer>62</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>房地产管理</string>
				<key>id</key>
				<integer>63</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>市场营销</string>
				<key>id</key>
				<integer>64</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>工程学</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>global doctor</string>
				<key>id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>土木工程</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>动力工程与工程热物理</string>
				<key>id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>控制科学与工程</string>
				<key>id</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>材料科学与工程</string>
				<key>id</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>环境科学</string>
				<key>id</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>计算机科学</string>
				<key>id</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>矿业工程</string>
				<key>id</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>海洋工程</string>
				<key>id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>工程项目管理</string>
				<key>id</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>水资源工程</string>
				<key>id</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>交通运输工程</string>
				<key>id</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>力学</string>
				<key>id</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>信息与通讯工程</string>
				<key>id</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>生化工程</string>
				<key>id</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>电子电气工程</string>
				<key>id</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>探测</string>
				<key>id</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>电力及能源工程</string>
				<key>id</key>
				<integer>17</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>石油工程</string>
				<key>id</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>光学工程</string>
				<key>id</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>机械工程</string>
				<key>id</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>环境科学与工程</string>
				<key>id</key>
				<integer>21</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>结构工程</string>
				<key>id</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>食品科学与工程</string>
				<key>id</key>
				<integer>23</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>生物工程</string>
				<key>id</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>化学工程</string>
				<key>id</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>global doctor</string>
				<key>id</key>
				<integer>165</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>人文与社会科学</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>哲学</string>
				<key>id</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>语言学</string>
				<key>id</key>
				<integer>66</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>心理学</string>
				<key>id</key>
				<integer>67</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>教育</string>
				<key>id</key>
				<integer>68</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>宗教学</string>
				<key>id</key>
				<integer>69</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>历史学</string>
				<key>id</key>
				<integer>70</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>社会学</string>
				<key>id</key>
				<integer>71</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>文学</string>
				<key>id</key>
				<integer>72</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>考古学</string>
				<key>id</key>
				<integer>73</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>法学&quot;</string>
				<key>id</key>
				<integer>74</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>体育学&quot;</string>
				<key>id</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>传媒</string>
				<key>id</key>
				<integer>76</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>国际关系</string>
				<key>id</key>
				<integer>77</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>政治学</string>
				<key>id</key>
				<integer>78</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>理学</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>数学</string>
				<key>id</key>
				<integer>46</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>地质学</string>
				<key>id</key>
				<integer>47</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>生命科学与技术</string>
				<key>id</key>
				<integer>48</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>化学</string>
				<key>id</key>
				<integer>49</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>大气科学</string>
				<key>id</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>物理学</string>
				<key>id</key>
				<integer>51</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>生物学</string>
				<key>id</key>
				<integer>52</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>地理学</string>
				<key>id</key>
				<integer>53</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>建筑与规划</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>建筑与景观设计</string>
				<key>id</key>
				<integer>32</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>城市与区域规划</string>
				<key>id</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>建筑学</string>
				<key>id</key>
				<integer>34</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>城市设计</string>
				<key>id</key>
				<integer>35</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>建筑设计</string>
				<key>id</key>
				<integer>36</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>艺术与设计</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>舞蹈</string>
				<key>id</key>
				<integer>26</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>音乐</string>
				<key>id</key>
				<integer>27</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>表演</string>
				<key>id</key>
				<integer>28</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>艺术</string>
				<key>id</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>设计</string>
				<key>id</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>戏剧</string>
				<key>id</key>
				<integer>31</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>医学</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>健康科学</string>
				<key>id</key>
				<integer>79</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>药学</string>
				<key>id</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>基础医学</string>
				<key>id</key>
				<integer>81</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>营养学</string>
				<key>id</key>
				<integer>82</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>生物医学</string>
				<key>id</key>
				<integer>83</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>医学教育</string>
				<key>id</key>
				<integer>84</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>护理学</string>
				<key>id</key>
				<integer>85</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>分子细胞学</string>
				<key>id</key>
				<integer>86</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>临床医学</string>
				<key>id</key>
				<integer>87</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>农学</string>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>动物科学与医学</string>
				<key>id</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>园艺与林学</string>
				<key>id</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>农学</string>
				<key>id</key>
				<integer>56</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
